<div class="pagetitle">
  <h1>Profile</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/index">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/customer-list">Customers</a>
      </li>
      <li class="breadcrumb-item active">Details</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="{{ customer.imagepath }}"
            style="height: 45px; width: 45px"
            class="rounded-circle"
          />
          <h3>{{ customer.fullName }}</h3>
          <h3>{{ customer.position }}</h3>
          <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="card">
        <div class="card-body">
          <div class="tab-content">
            <h5 class="card-title">Customer Details</h5>
            <hr class="hr" />
            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">PAN</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.pan }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">GST</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.gst }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Title</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.title }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">FirstName</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.firstName }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">MiddleName</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.middleName }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">LastName</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.lastName }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Position</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.position }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Gender</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.gender }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.dayOfBirth }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Phone</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.phone }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">PhoneOther</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.phoneOther }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Cell</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.cell }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Fax</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.fax }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Email</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.email }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Second Email</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.email2 }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Website</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.website }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Language</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.language }}
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-3 col-md-4 label">Comments</div>
              <div class="col-lg-9 col-md-8">
                {{ customer.comments }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <a
                routerLink="/customer-list"
                class="btn btn-danger"
                style="margin: 20px 0px 20px 0px"
                >Back to List</a
              >
            </div>
            <div class="col-3">
              <a
                class="btn btn-info"
                style="margin: 20px 0px 20px 0px"
                (click)="getCustomerProfile(customer.cId)"
              >
                More Details
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
