<div class="container">
  <section
    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
        >
          <div class="d-flex justify-content-center py-4">
            <a class="logo d-flex align-items-center w-auto">
              <img src="assets/img/logo.png" alt="" />
              <span class="d-none d-lg-block">ZippyCRM</span>
            </a>
          </div>
          <!-- End Logo -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">
                  Reset your password
                </h5>
                <p class="text-center small">
                  Enter password and confirm password
                </p>
              </div>
              <form
                class="row g-3 needs-validation"
                [formGroup]="onSubmitForm"
                (ngSubmit)="onSave()"
              >
                <div
                  asp-validation-summary="ModelOnly"
                  class="text-danger"
                ></div>
                <div class="col-12">
                  <input type="hidden" formControlName="email" />
                  <label class="form-label">Password</label>
                  <input
                    type="password"
                    formControlName="newPassword"
                    class="form-control"
                  />
                  <small
                    *ngIf="
                      onSubmitForm.get('newPassword')?.invalid &&
                      onSubmitForm.get('newPassword')?.touched &&
                      !onSubmitForm.controls['newPassword'].hasError('pattern')
                    "
                    class="text-danger"
                  >
                    Please enter Password!
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="
                      onSubmitForm.controls['newPassword'].hasError('pattern')
                    "
                  >
                    Password must be at least 8 characters long, with an
                    uppercase, lowercase, number, and special character.
                  </small>
                </div>

                <div class="col-12">
                  <label class="form-label">Confirm Password</label>
                  <input
                    type="password"
                    formControlName="newCPassword"
                    class="form-control"
                  /><small
                    *ngIf="onSubmitForm.errors?.['passwordMismatch']&&
                  (onSubmitForm.get('newCPassword')?.touched ||
                    onSubmitForm.get('newCPassword')?.dirty)"
                    class="text-danger"
                  >
                    Passwords do not match!</small
                  >
                </div>
                <div class="col-12">
                  <button
                    class="btn btn-primary w-100"
                    [disabled]="onSubmitForm.invalid"
                    type="submit"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="credits">
            Designed by
            <a href="https://www.ysoftsolution.com/">YSoft Solution</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
