<!-- ======= Header ======= -->

<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a class="logo text-decoration-none d-flex align-items-center">
      <img src="assets/img/logo.png" alt="" />
      <span class="d-none d-lg-block">ZippyCRM</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn" (click)="onToggleClass()"></i>
  </div>

  <!-- End Logo -->

  <div class="search-bar">
    <form
      class="search-form d-flex align-items-center"
      method="POST"
      action="#"
    >
      <input
        type="text"
        name="query"
        placeholder="Search"
        title="Enter search keyword"
      />
      <button type="submit" title="Search">
        <i class="bi bi-search"></i>
      </button>
    </form>
  </div>

  <!-- End Search Bar -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle" href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>

      <!-- End Search Icon-->

      <li class="nav-item dropdown" *ngIf="loggedUser != null">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">{{
            notificationCount
          }}</span> </a
        ><!-- End Notification Icon -->

        <ul
          class="overflow dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"
        >
          <li class="dropdown-header">
            Open all notifications
            <a routerLink="/contact-us-list"
              ><span class="badge rounded-pill bg-primary p-2 ms-2"
                >View all</span
              ></a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <span>
            <span *ngFor="let contactUs of contactUsList; let i = index">
              <a
                data-bs-toggle="modal"
                data-bs-target="#contactUsModal"
                (click)="readMessage(contactUs)"
              >
                <li class="notification-item">
                  <i class="bi bi-exclamation-circle text-warning"></i>
                  <div>
                    <h4>{{ contactUs.name }}</h4>
                    <p>{{ contactUs.subject }}</p>
                    <p>{{ getTimeDifference(contactUs.sendTime) }}</p>
                  </div>
                </li></a
              >
              <li>
                <hr
                  class="dropdown-divider"
                  *ngIf="contactUsList && contactUsList.length > 0"
                />
              </li>
            </span>
          </span>
        </ul>
        <!-- End Notification Dropdown Items -->
      </li>

      <!-- End Notification Nav -->

      <li class="nav-item dropdown" *ngIf="loggedUser != null">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span> </a
        ><!-- End Messages Icon -->

        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages"
        >
          <li class="dropdown-header">
            You have 3 new messages
            <a href="#"
              ><span class="badge rounded-pill bg-primary p-2 ms-2"
                >View all</span
              ></a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="message-item">
            <a href="#">
              <img
                src="assets/img/messages-1.jpg"
                alt=""
                class="rounded-circle"
              />
              <div>
                <h4>Maria Hudson</h4>
                <p>
                  Velit asperiores et ducimus soluta repudiandae labore officia
                  est ut...
                </p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="message-item">
            <a href="#">
              <img
                src="assets/img/messages-2.jpg"
                alt=""
                class="rounded-circle"
              />
              <div>
                <h4>Anna Nelson</h4>
                <p>
                  Velit asperiores et ducimus soluta repudiandae labore officia
                  est ut...
                </p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="message-item">
            <a href="#">
              <img
                src="assets/img/messages-3.jpg"
                alt=""
                class="rounded-circle"
              />
              <div>
                <h4>David Muldon</h4>
                <p>
                  Velit asperiores et ducimus soluta repudiandae labore officia
                  est ut...
                </p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="dropdown-footer">
            <a href="#">Show all messages</a>
          </li>
        </ul>
        <!-- End Messages Dropdown Items -->
      </li>
      <!-- End Messages Nav -->
      <li class="nav-item pe-3" *ngIf="loggedUser == null">
        <a routerLink="login">
          <i class="bi bi-box-arrow-in-right pe-2"></i>
          <span class=""><b>Login</b></span>
        </a>
      </li>
      <li class="nav-item dropdown pe-3" *ngIf="loggedUser != null">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
          <img
            [src]="loggedUser.user.imagePath"
            alt="User Image"
            class="rounded-circle"
          />
          <span class="d-none d-md-block dropdown-toggle ps-2">{{
            loggedUser.user.username
          }}</span> </a
        ><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{ loggedUser.user.username }}</h6>
            <span>{{ loggedUser.userJob }}</span>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="user-profile"
            >
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="user-profile"
            >
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              routerLink="user-profile-need-help"
            >
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              (click)="signOut()"
            >
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="index">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- start Customer Nav -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Customer-nav"
        data-bs-toggle="collapse"
        role="button"
        aria-expanded="false"
        aria-controls="Customer-nav"
      >
        <i class="bi bi-person"></i><span>Customer</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Customer-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/customer-register']">
            <i class="bi bi-circle"></i><span>Create Customer</span>
          </a>
        </li>
        <li>
          <a routerLink="customer-list">
            <i class="bi bi-circle"></i><span>Customers</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- End Customer Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        role="button"
        aria-expanded="false"
        aria-controls="Customer-nav"
      >
        <i class="bi bi-menu-button-wide"></i><span>Components</span>
      </a>
    </li>
    <!-- End Components Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#forms-nav"
        data-bs-toggle="collapse"
        role="button"
        aria-expanded="false"
        aria-controls="Customer-nav"
      >
        <i class="bi bi-journal-text"></i><span>Forms</span>
      </a>
    </li>
    <!-- End Forms Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-nav"
        data-bs-toggle="collapse"
        role="button"
        aria-expanded="false"
        aria-controls="Customer-nav"
      >
        <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span>
      </a>
    </li>
    <!-- End Tables Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#charts-nav"
        data-bs-toggle="collapse"
        role="button"
        aria-expanded="false"
        aria-controls="Customer-nav"
      >
        <i class="bi bi-bar-chart"></i><span>Charts</span>
      </a>
    </li>
    <!-- End Charts Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#icons-nav"
        data-bs-toggle="collapse"
        role="button"
        aria-expanded="false"
        aria-controls="Customer-nav"
      >
        <i class="bi bi-gem"></i><span>Icons</span>
      </a>
    </li>
    <!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item" *ngIf="loggedUser != null">
      <a class="nav-link collapsed" routerLink="user-profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="user-profile-need-help">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="contact-us">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="join-chat">
        <i class="fa-classic fa-thin fa-people-group fa-fw"></i>
        <span>Join the room</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="direct-message-user">
        <i class="far fa-comment-dots"></i>
        <span>DM With User</span>
      </a>
    </li>
  </ul>
</aside>

<!-- End Sidebar-->

<main id="main" class="main">
  <router-outlet> </router-outlet>
</main>

<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong
    >. All Rights Reserved
  </div>
  <div class="credits">
    Designed by <a href="https://www.ysoftsolution.com/">YSoft Solution</a>
  </div>
</footer>
<!-- End Footer -->
